.about {
    background-color: white;
    padding-top: 10px;
    margin-bottom: -1px;
}

.myImg {
    padding-bottom: 30px;
}


.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down{
    0% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
