video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

.header h1{
  color: white;
}

.header h3{
  color: white;
}

.header button{
  border-color: white;
  border-radius: 0;
  color: white;
}

.header button a{
  color: white;
  text-decoration: none;
}

.header button a:hover{
  color: purple;
}

.scroll {
  color: white;
  justify-content: center;
  align-items: center;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 100px;
}

